@media screen and (max-width:700px) {
  header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .botao{
    margin-top: 2%;
    width: 300px;
  }
}

@media screen and (min-width: 1000px){
.descricao{
  width: 60%;
}
}